*~
.DS_Store
.svn
.cvs
*.bak
*.swp
.viminfo
.gitmodules
Thumbs.db
.htaccess
*.sublime-project
*.sublime-workspace

# wordpress specific
wp-config.php
wp-content
dr-content

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
